- breadcrumb :line_documents, @workbench, @line
- javascript_additional_packs 'lines/show'

.page_content
  .container-fluid
    - if @documents.any?
      .row
        .col-lg-12
          = table_builder_2 @documents,
            [ \
              TableBuilderHelper::Column.new( \
                key: :uuid, \
                attribute: :uuid, \
                sortable: false, \
							), \
              TableBuilderHelper::Column.new( \
                key: :name, \
                attribute: :name, \
                sortable: false, \
                link_to: -> (doc) { workbench_document_path(@workbench, doc) } \
							), \
              TableBuilderHelper::Column.new( \
                key: :document_type_id, \
                attribute: -> (doc) { doc.document_type.short_name }, \
                sortable: false, \
                link_to: -> (doc) { workgroup_document_type_path(@workbench.workgroup, doc.document_type) } \
              ), \
              TableBuilderHelper::Column.new( \
                key: :valid_after, \
                attribute: -> (doc) { doc.validity_period.from.to_s.presence || '-' }, \
                sortable: false,\
              ), \
              TableBuilderHelper::Column.new( \
                key: :valid_until, \
                attribute: -> (doc) { doc.validity_period.to.to_s.presence || '-' }, \
                sortable: false,\
              ) \
            ].compact,
            cls: 'table has-filter has-search'

          = new_pagination @documents, 'pull-right'

    - else
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('documents.search_no_results')

    = 'Associate other documents'
    .separator.section_separator
    
    - if @unassociated_documents.any?
      .row
        .col-lg-12
          = table_builder_2 @unassociated_documents,
            [ \
              TableBuilderHelper::Column.new( \
                key: :uuid, \
                attribute: :uuid, \
                sortable: false, \
							), \
              TableBuilderHelper::Column.new( \
                key: :name, \
                attribute: :name, \
                sortable: false, \
                link_to: -> (doc) { workbench_document_path(@workbench, doc) } \
							), \
              TableBuilderHelper::Column.new( \
                key: :document_type_id, \
                attribute: -> (doc) { doc.document_type.short_name }, \
                sortable: false, \
                link_to: -> (doc) { workgroup_document_type_path(@workbench.workgroup, doc.document_type) } \
              ), \
              TableBuilderHelper::Column.new( \
                key: :valid_after, \
                attribute: -> (doc) { doc.validity_period.from.to_s.presence || '-' }, \
                sortable: false,\
              ), \
              TableBuilderHelper::Column.new( \
                key: :valid_until, \
                attribute: -> (doc) { doc.validity_period.to.to_s.presence || '-' }, \
                sortable: false,\
              ) \
            ].compact,
            cls: 'table has-filter has-search'

          = new_pagination @unassociated_documents, 'pull-right'

    - unless @unassociated_documents.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('documents.search_no_results')

