= form.input :transport_mode,
	collection: facade.transport_mode_options,
	input_html: { 'x-model': 'resource.transport_mode', ':disabled': '$store.macroList.isShow || resource.isDeleted' },
	wrapper_html: { class: 'mb-0 mx-0', style: 'padding:10px; background-color: grey; flex-grow: 1;'}
