= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :target_attribute, value: I18n.t(control_run.target_attribute, scope: "activerecord.attributes.#{control_run.target_model.underscore}")
