= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :target_code_space_id, value: d.object.target_code_space.short_name
= d.attribute :uniqueness_scope, value: I18n.t(control_run.uniqueness_scope, scope: 'enumerize.uniqueness_scope')