= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :expected_provider, value: I18n.t(control_run.expected_provider, scope: 'enumerize.expected_provider')