= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :expected_status, value: I18n.t(control_run.expected_status, scope: "activerecord.attributes.control/model_status.status_values")
