= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :collection, value: control_run.collection_attribute.human_name
= d.attribute :minimum
= d.attribute :maximum
