= d.attribute :target_model, value: I18n.t(control_run.target_model, scope: 'enumerize.target_model')
= d.attribute :collection, value: I18n.t(control_run.collection, scope: "activerecord.attributes.#{control_run.collection.underscore}")
= d.attribute :minimum, value: I18n.t(control_run.collection, scope: "activerecord.attributes.#{control_run.minimum}")
= d.attribute :maximum, value: I18n.t(control_run.collection, scope: "activerecord.attributes.#{control_run.maximum}")
