= d.attribute :weeks_before, value: I18n.t(control_run.weeks_before, scope: 'enumerize.weeks_before')
= d.attribute :weeks_after, value: I18n.t(control_run.weeks_after, scope: 'enumerize.weeks_after')
= d.attribute :maximum_difference, value: I18n.t(control_run.maximum_difference, scope: 'enumerize.maximum_difference')