= d.attribute :from_stop_area, as: :association
= d.attribute :to_stop_area, as: :association
= d.attribute :departure_time_of_day, as: :time_of_day
= d.attribute :maximum_travel_time_in_minutes, as: :duration_in_minutes
