.breadcrumbs {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    color: white;
  }
  img.chouette-little-logo {
    height: 25px;
    margin-bottom: 4px;
    margin-right: 2px;
  }
}