.hexInput {
  width: auto !important;
}
.colorpicker-1-5x {
  background-color: #C8C8C8;
  border: 1px solid;
  .colorpicker-saturation {
    width: 150px;
    height: 150px;
  }
  .colorpicker-hue {
    width: 23px;
    height: 150px;
  }
  .colorpicker-alpha {
    display: none !important;
  }
  .colorpicker-color {
    height: 23px;
    div {
      height: 23px;
    }
  }
}