.permissions {
  .toggles {
    a:first-child {
      padding-right: 3px;
      margin-right: 3px;
      border-right: 1px solid $lightgrey;
    }
  }
  ul {
    overflow: hidden;
    padding: 0;
  }
  li {
    float: left;
    list-style-type: none;
    width: 20%;
    label {
      padding-left: 5px;
      font-weight: normal;
      max-width: calc(100% - 15px);
    }
    input {
      vertical-align: top;
    }
  }
  .feature-header {
    margin: 20px auto 10px;
    div {
      padding-right: 10px;
      display: inline;
    }
  }
}
.feature-title {
  font-weight: bold;
}