#stop_area_referential_form,
.stop_area_referential_show,
#stop_area_form {
  h2 {
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .header,
  .locales .row {
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    & > div {
      padding-bottom: 10px;
      padding-top: 10px;
      margin: 0;
      input {
        margin: 0;
        vertical-align: bottom;
      }
    }
    & > div:nth-child(2n) {
      background-color: #F5F5F5;
    }
  }
  .header {
    font-weight: bold;
    border-bottom-color: #444;
  }
  .locales .col-md-1 {
    text-align: right;
  }
  .deleted {
    opacity: 0.3;
  }
  .add-locales {
    margin-top: 20px;
    & > div > * {
      float: left;
    }
    a {
      margin-left: 10px;
    }
  }
  .fas.fa-trash {
    color: red;
  }
}