{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true,
            "experimentalObjectRestSpread": true
        },
    },
    "rules": {
        "semi": ["warn", "never"],
        "quotes": ["warn", "single"]
    },
    "globals": {
        "_": "writable",
        "I18n": "readonly"
    }
}
