{
    "rules": {
        "semi": ["warn", "never"],
        "quotes": ["warn", "single"]
    },
    "overrides": [
        {
            "files": ["**/*.json"],
            "rules": {
                "quotes": ["warn", "double"]
            }
        }
    ],
    "globals": {
        "_": "writable",
        "I18n": "readonly"
    }
}
