- breadcrumb :processing_rules, @workbench

.page_content
  .container-fluid
    - if @processing_rules.any?
      .row
        .col-lg-12
          = table_builder_2 @processing_rules,
            [ \
              TableBuilderHelper::Column.new( \
                key: :operation_step, \
                attribute: -> (pr) { pr.operation_step.text }, \
                sortable: false \
              ), \
              TableBuilderHelper::Column.new( \
                key: :processable_type, \
                attribute: -> (pr) { pr.processable_type.text }, \
                sortable: false,\
              ), \
              TableBuilderHelper::Column.new( \
                key: :processable_id, \
                attribute: -> (pr) { pr.processable.name }, \
                link_to: -> (pr) { url_for([pr.processable.workbench, pr.processable]) }, \
                sortable: false,\
              ), \
            ],
            cls: 'table has-filter has-search'

          = new_pagination @processing_rules, 'pull-right'

    - unless @processing_rules.any?
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('processing_rule/workbenches.search_no_results')
