= form.input :geographical_distance, as: :numeric, input_html: { min: 50, max: 150 }
= form.input :lexical_distance, as: :numeric, input_html: { min: 0, max: 100, step: 10 }, hint: t("simple_form.hints.control_find_quays_associated_parent.lexical_distance")
= form.input :used_by_opposite_routes, as: :switchable_checkbox