= form.input :target_model, input_html: { 'x-model': 'resource.target_model' }
= form.input :upper_left_input, input_html: { 'x-model': 'resource.upper_left_input' }
= form.input :lower_right_input, input_html: { 'x-model': 'resource.lower_right_input' }