= form.input :minimum_speed, input_html: { 'x-model': 'resource.minimum_speed' }
= form.input :maximum_speed, input_html: { 'x-model': 'resource.maximum_speed' }
= form.input :minimum_distance, input_html: { 'x-model': 'resource.minimum_distance' }
