= form.input :target_model, input_html: { 'x-model': 'resource.target_model' }
= form.input :target_code_space_id, collection: facade.target_code_space_options, input_html: { 'x-model': 'resource.target_code_space_id' }
