- target_attribute = facade.control.target_attribute

= form.input :target_attribute,
	as: :tom_select,
	collection: target_attribute.options,
	input_html: { \
		'x-model': 'resource.target_attribute',
		'@change': "resource.target_model = Boolean($event.target.value) ? tomSelect.getItem($event.target.value).dataset.group : ''" \
		},
	config: { \
		options: target_attribute.options, \
		optgroups: target_attribute.groups, \
		optgroupField: 'group', \
	}
