= form.input :from_stop_area_id, collection: @workbench.workgroup.stop_area_referential.stop_areas.order(:name).limit(10), include_blank: false
= form.input :to_stop_area_id, collection: @workbench.workgroup.stop_area_referential.stop_areas.order(:name).limit(10), include_blank: false
= form.input :departure_time_of_day, as: :time_of_day
= form.input :maximum_travel_time_in_minutes
