= simple_search_for @search, workbench_referential_vehicle_journeys_path(@workbench, @referential), save_search: false do |f|
  = f.row
    = f.text
  = f.row
    = f.input :company_id, placeholder: t('simple_form.placeholders.search.company_id'), as: :tom_select, collection: @search.candidate_companies.map { |l| { id: l.id, text: l.display_name } }, wrapper_html: { class: 'w-2/6' }
    = f.input :line_id, as: :tom_select, collection: @search.candidate_lines.map { |l| { id: l.id, text: l.display_name } }, wrapper_html: { class: 'w-2/6' }
    = f.label :stop_area, class: 'pl-6 whitespace-nowrap'
    = f.input :from_stop_area_id, placeholder: I18n.t('simple_form.placeholders.search.stop_area_id'),
      as: :ajax_select,
      collection: @search.selected_from_stop_area_collection,
      label_method: :display_name,
      input_html: { 'data-url': stop_areas_workbench_referential_autocomplete_index_url(@workbench, current_referential) },
      wrapper_html: { class: 'w-1/3' }
    = f.input :to_stop_area_id, placeholder: I18n.t('simple_form.placeholders.search.stop_area_id'),
      as: :ajax_select,
      collection: @search.selected_to_stop_area_collection,
      label_method: :display_name,
      input_html: { 'data-url': stop_areas_workbench_referential_autocomplete_index_url(@workbench, current_referential) },
      wrapper_html: { class: 'w-1/3' }
  = f.row
    = f.input :time_table_id,
      as: :ajax_select,
      collection: @search.candidate_time_tables,
      label_method: :display_name,
      input_html: { 'data-url': time_tables_workbench_referential_autocomplete_index_url(@workbench, current_referential) },
      wrapper_html: { class: 'w-2/6' }
    = f.input :start_date, as: :date_picker, wrapper_html: {}
    = f.input :end_date, as: :date_picker, wrapper_html: {}
