- breadcrumb :footnotes, @workbench, @referential, @line

.page_content
  .container-fluid
    - if @footnotes.any?
      .row
        .col-lg-12
          - columns = [ \
            TableBuilderHelper::Column.new( \
              key: :code, \
              attribute: :code, \
              link_to: ->(footnote) { [@workbench, @referential, @line, footnote].compact }, \
              sortable: false \
            ), \
            TableBuilderHelper::Column.new( \
              key: :label, \
              attribute: :label.to_proc, \
              sortable: false, \
              cls: '' \
            ) \
          ]
          - unless @line
            - columns.unshift( \
                TableBuilderHelper::Column.new( \
                  key: :line, \
                  attribute: ->(footnote) { footnote.line&.full_display_name }, \
                  link_to: ->(footnote) { footnote.line ? [@workbench, @referential, footnote.line] : nil }, \
                  sortable: false \
                ) \
              )

          = table_builder_2 @footnotes, columns, cls: 'table has-filter'

          = new_pagination @footnotes, 'pull-right'

    - else
      .row.mt-xs
        .col-lg-12
          = replacement_msg t('.search_no_results')
