= render 'exports/options/period', form: form
= render 'exports/options/lines', form: form
= form.input :prefer_referent_stop_area, as: :switchable_checkbox, checked_value: true, unchecked_value: false
= form.input :ignore_single_stop_station, as: :switchable_checkbox, checked_value: true, unchecked_value: false
