= simple_block_for @publication_setup.export_setup, title: PublicationSetup.human_attribute_name('export_setup') do |d|
  = d.attribute :type, label: Export::Base.human_attribute_name('type'), value: @publication_setup.export_type.constantize.human_name
  = d.attribute :include_stop_visits, as: :boolean
