= simple_fields_for(@export, as: :export, wrapper: :horizontal_form) do |f|
 = f.input :duration, required: true, input_html: { value: Export::Netex.options.dig(:duration, :default_value) }
 = f.input :export_type, as: :string, required: true, readonly: true, input_html: { value: 'full' }
