.slave data-master="[name='publication_setup[export_type]']" data-value=child.name
	= export_option_input form, @publication_setup.new_export, :profile, child.options[:profile], child
	= export_option_input form, @publication_setup.new_export, :duration, child.options[:duration], child
