.slave data-master="[name='publication_setup[export_type]']" data-value=child.name
	= export_option_input form, @publication_setup.new_export, :duration, child.options[:duration], child
	= export_option_input form, @publication_setup.new_export, :prefer_referent_stop_area, child.options[:prefer_referent_stop_area], child
	= export_option_input form, @publication_setup.new_export, :ignore_single_stop_station, child.options[:ignore_single_stop_station], child
