= simple_block_for publication_setup, title: PublicationSetup.tmf(:export_options) do |d|
	= d.attribute :export_type, value: publication_setup.new_export.human_type
	= d.attribute :profile, value: publication_setup.export_options['profile']
	= d.attribute :duration, value: publication_setup.export_options['duration']
