- breadcrumb :shape, @workbench, @shape
= content_for :page_header_title, t('shapes.actions.associated_resources', shape_uuid: @shape.uuid)

.page_content
  .container-fluid
    .row
      .col-lg-12
        = table_builder_2 @shape.associations,
          [ \
            TableBuilderHelper::Column.new( \
              name: t('shapes.associations.table_headers.state'), \
              attribute: Proc.new {|a| referential_status(Referential.find_by(slug: a.target_referential_slug)) }, \
              sortable: true \
            ), \
            TableBuilderHelper::Column.new( \
              name: t('shapes.associations.table_headers.dataset'), \
              attribute: Proc.new {|a| a.target_referential_slug }, \
              sortable: true, \
              link_to: lambda do |a| \
                referential_path(Referential.find_by(slug: a.target_referential_slug)) \
              end \
            ), \
            TableBuilderHelper::Column.new( \
              name: t('shapes.associations.table_headers.type'), \
              attribute: Proc.new {|a| a.target_type}, \
              sortable: true \
            ), \
            TableBuilderHelper::Column.new( \
              name: t('shapes.associations.table_headers.id'), \
              attribute: 'id', \
              sortable: true, \
              link_to: lambda do |a| \
                Referential.find_by(slug: a.target_referential_slug).switch{ referential_line_route_journey_pattern_path(a.target.referential, a.target.line, a.target.route,a.target) } \
              end \
            ), \
            TableBuilderHelper::Column.new( \
              name: t('shapes.associations.table_headers.line'), \
              attribute: Proc.new {|a| Referential.find_by(slug: a.target_referential_slug).switch{a.target.line.name}}, \
              sortable: true \
            ) \
          ],
          cls: 'table has-filter has-search',
          action: :index
