= d.attribute :target_model, value: I18n.t(macro_run.target_model, scope: 'enumerize.target_model')
= d.attribute :model_attribute, value: I18n.t(macro_run.model_attribute_name, scope: "activerecord.attributes.#{macro_run.model_collection.singularize}")
