= d.attribute :target_model, value: I18n.t(macro_run.target_model, scope: 'enumerize.target_model')
/ = d.attribute :expected_result, value: I18n.t(macro_run.expected_result, scope: 'enumerize.macro/dummy.expected_result')
