= d.attribute :target_model, value: I18n.t(macro_run.target_model, scope: 'enumerize.target_model')
= d.attribute :target_attribute, value: macro_run.model_attribute.human_name
= d.attribute :override_existing_value
