- export_setup = form.object.form_export_setup.becomes(Export::Setup::Ara)

= form.simple_fields_for(export_setup_attribute, export_setup) do |sub_form|
  = sub_form.input :include_stop_visits, as: :switchable_checkbox
