- breadcrumb :import, @parent, @import

.row
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    = render 'metadatas', import: @import
  = processing_helper(@import)
- if @import.overlapping_referentials.any?
  .row
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      = simple_block_for @import, title: t('imports.show.overlapping') do |d|
        = d.attribute :overlapping_referentials, as: :associations, value: @import.overlapping_referentials.sort_by(&:name), link: @workbench ? ->(child) { workbench_referential_path(@workbench, child) } : nil
        p.mt-6
          = t('imports.show.overlapping_tips')
.col-lg-12
  .error_messages
    - messages = @import.messages + @import.resources.flat_map(&:messages)
    = render 'shared/iev_interfaces/messages', messages: messages

- if @imported_resources.present?
  .col-lg-12
    h2.mb-2 = t('imports.show.imported_resources')
    = table_builder_2 @imported_resources,
      [ \
        TableBuilderHelper::Column.new( \
          name: t('imports.show.gtfs.filename'), \
          attribute: :name ,\
          sortable: false \
        ), \
        TableBuilderHelper::Column.new( \
          key: :status, \
          attribute: Proc.new { |n| operation_status(n.status, verbose: true, default_status: :pending) }, \
          sortable: false \
        ),\
        TableBuilderHelper::Column.new( \
          name: t('imports.show.table.test_results') , \
          attribute: Proc.new { |n| I18n.t('import_resources.index.metrics', **n.metrics.deep_symbolize_keys) }, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          name: t('imports.show.table.download') , \
          attribute: Proc.new { |n| '<i class="fa fa-download" aria-hidden="true"></i>'.html_safe }, \
          sortable: false, \
          link_to: lambda do |import_resource| \
            url_for([@parent, import_resource.import, import_resource, :import_messages, format: 'csv']) \
          end \
        ), \
      ],
      cls: 'table'

- if @macro_list_runs.present?
  .col-lg-12
    h2.mb-2 = t('imports.index.workbench_macro_list_run')
    = table_builder_2 @macro_list_runs,
      [ \
        TableBuilderHelper::Column.new( \
          key: :user_status, \
          attribute: Proc.new { |run| operation_user_status(run) }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :name, \
          attribute: :name, \
          link_to: !workgroup_context? ? ->(run) { workbench_macro_list_run_path(@workbench, run) } : nil \
        ), \
        TableBuilderHelper::Column.new( \
          key: :started_at, \
          attribute: Proc.new { |n| l(n.started_at, format: :short_with_time) if n.started_at }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :duration, \
          attribute: Proc.new { |object| object.ended_at.presence && object.started_at.presence && duration_in_words(object.ended_at - object.started_at)}, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :created_by, \
          attribute: :creator, \
          sortable: false, \
        ) \
      ],
      cls: 'table'

- if @control_list_runs.present?
  .col-lg-12
    h2.mb-2 = t('imports.index.workbench_control_list_run')
    = table_builder_2 @control_list_runs,
      [ \
        TableBuilderHelper::Column.new( \
          key: :user_status, \
          attribute: Proc.new { |run| operation_user_status(run) }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :name, \
          attribute: Proc.new { |run| base = (run.name.presence || run.model_name.human); run.processing.processing_rule.is_a?(ProcessingRule::Workgroup) ? "#{base} (#{Workgroup.model_name.human})" : base }, \
          link_to: lambda do |run| \
           workgroup_context? ? \
              workgroup_control_list_run_path(current_workgroup, run) : \
              workbench_control_list_run_path(@workbench, run) \
          end \
        ), \
        TableBuilderHelper::Column.new( \
          key: :started_at, \
          attribute: Proc.new { |n| l(n.started_at, format: :short_with_time) if n.started_at }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :duration, \
          attribute: Proc.new { |object| object.ended_at.presence && object.started_at.presence && duration_in_words(object.ended_at - object.started_at)}, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :created_by, \
          attribute: :creator, \
          sortable: false, \
        ) \
      ],
      cls: 'table'
