- breadcrumb :import, @parent, @import

.row
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    = render 'metadatas', import: @import
  / TODO : Use processing_helper after import refactoring (See CHOUETTE-5147)
  .col-lg-6.col-md-6.col-sm-12.col-xs-12
    = simple_block_for @import, title: t("simple_block_for.title.processing") do |d|
      = d.attribute :created_at, as: :datetime
      = d.attribute :creator if @import.respond_to?(:creator)
      = d.attribute :started_at, value: @import&.children&.first&.started_at || @import&.started_at, as: :datetime
      = d.attribute :ended_at, value: @import&.children&.first&.ended_at || @import&.ended_at, as: :datetime
      = d.attribute :duration, value: @import.duration, as: :duration
      = d.attribute(:notification_target, as: :enumerize) if @import.respond_to?(:notification_target)
- if @import.overlapping_referential_ids.any?
  .row
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      = simple_block_for @import, title: t('imports.show.overlapping') do |d|
        = d.attribute :overlapping_referentials, as: :associations, value: @import.overlapping_referentials.sort_by(&:name), link: @workbench ? ->(child) { workbench_referential_path(@workbench, child) } : nil
        p.mt-6
          = t('imports.show.overlapping_tips')
.col-lg-12
  .error_messages
    - messages = @import.messages + @import.resources.flat_map(&:messages) + (@import.children.first&.messages || [])
    = render 'shared/iev_interfaces/messages', messages: messages

- if @imported_resources.present?
    .definition-list.w-full
      .dl-head.w-full.mb-2
        .flex.justify-between.items-center
          = t('imports.show.imported_resources')
          = link_to t('imports.show.all_messages'), workbench_import_messages_path(@workbench, @import.children.first), class: 'btn btn-sm btn-primary' unless workgroup_context?
    - @imported_resources.each do |import_resource|
      = render 'imports/import_resource', import_resource: import_resource, messages_base_url: workgroup_context? ? workgroup_import_import_resource_import_messages_path(@workgroup, @import, import_resource) : workbench_import_import_resource_import_messages_path(@workbench, @import, import_resource)

- if @macro_list_runs.present?
  .col-lg-12
    h2.mb-2 = t('imports.index.workbench_macro_list_run')
    = table_builder_2 @macro_list_runs,
      [ \
        TableBuilderHelper::Column.new( \
          key: :user_status, \
          attribute: Proc.new { |run| operation_user_status(run) }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :name, \
          attribute: :name, \
          link_to: !workgroup_context? ? ->(run) { workbench_macro_list_run_path(@workbench, run) } : nil \
        ), \
        TableBuilderHelper::Column.new( \
          key: :started_at, \
          attribute: Proc.new { |n| l(n.started_at, format: :short_with_time) if n.started_at }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :duration, \
          attribute: Proc.new { |object| object.ended_at.presence && object.started_at.presence && duration_in_words(object.ended_at - object.started_at)}, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :created_by, \
          attribute: :creator, \
          sortable: false, \
        ) \
      ],
      cls: 'table'

- if @control_list_runs.present?
  .col-lg-12
    h2.mb-2 = t('imports.index.workbench_control_list_run')
    = table_builder_2 @control_list_runs,
      [ \
        TableBuilderHelper::Column.new( \
          key: :user_status, \
          attribute: Proc.new { |run| operation_user_status(run) }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :name, \
          attribute: Proc.new { |run| base = (run.name.presence || run.model_name.human); run.processing.processing_rule.is_a?(ProcessingRule::Workgroup) ? "#{base} (#{Workgroup.model_name.human})" : base }, \
          link_to: lambda do |run| \
           workgroup_context? ? \
              workgroup_control_list_run_path(current_workgroup, run) : \
              workbench_control_list_run_path(@workbench, run) \
          end \
        ), \
        TableBuilderHelper::Column.new( \
          key: :started_at, \
          attribute: Proc.new { |n| l(n.started_at, format: :short_with_time) if n.started_at }, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :duration, \
          attribute: Proc.new { |object| object.ended_at.presence && object.started_at.presence && duration_in_words(object.ended_at - object.started_at)}, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          key: :created_by, \
          attribute: :creator, \
          sortable: false, \
        ) \
      ],
      cls: 'table'

- if @flamingo_validations.present?
  .col-lg-12
    h2.mb-2 = t('imports.index.flamingo_validations')
    = table_builder_2 @flamingo_validations,
      [ \
        TableBuilderHelper::Column.new( \
          name: Operation.human_attribute_name('status'), \
          key: :user_status, \
          attribute: Proc.new { |fv| operation_user_status(fv) }, \
          sortable: false \
        ), \
        TableBuilderHelper::Column.new( \
          name: Flamingo::ValidationSetup.human_attribute_name('ruleset'), \
          key: :ruleset, \
          attribute: Proc.new { |fv| fv.setup.ruleset }, \
          link_to: :validation_report_url.to_proc, \
          sortable: false \
        ), \
        TableBuilderHelper::Column.new( \
          name: Operation.human_attribute_name('started_at'), \
          key: :started_at, \
          attribute: Proc.new { |fv| l(fv.started_at, format: :short_with_time) if fv.started_at }, \
          sortable: false \
        ), \
        TableBuilderHelper::Column.new( \
          name: Operation.human_attribute_name('duration'), \
          key: :duration, \
          attribute: Proc.new { |fv| fv.ended_at.presence && fv.started_at.presence && duration_in_words(fv.ended_at - fv.started_at)}, \
          sortable: false, \
        ), \
        TableBuilderHelper::Column.new( \
          name: Operation.human_attribute_name('creator'), \
          attribute: :creator, \
          sortable: false, \
        ) \
      ],
      cls: 'table'
