h2.mail-title
  == 'mailers.hello'.t
p== t('mailers.sentinel_mailer.finished.body', referential_name: @referential.name)
p= mailer_button(t('mailers.sentinel_mailer.finished.button'), referential_url(@referential))
