doctype XML

kml xmlns="http://www.opengis.net/kml/2.2"
  Document
    - @stop_areas.where("latitude is not null and longitude is not null").find_each do |stop_area|
      Placemark id="#{stop_area.objectid}"
        name = stop_area.name
        extendeddata
          - [:objectid, :created_at, :updated_at, :name, :comment, :area_type, :registration_number, :nearest_topic_name, :fare_code, :longitude, :latitude, :long_lat_type, :country_code, :street_name].each do |prop|
            - if value = stop_area.send(prop)
              data name="#{prop.to_s}"
                value = h(value)
          - if stop_area.parent
            data name="parent_objectid"
              value = h(stop_area.parent.objectid)

        = stop_area.geometry.kml_representation.html_safe
