= form.label :line_ids, class: 'flex mr-4 control-label'
= form.input :line_ids,
  as: :ajax_select,
  collection: form.object.selected_lines,
  label_method: :display_name,
  placeholder: I18n.t('line_routing_constraint_zones.form.line_placeholder'),
  input_html: { 'data-url': lines_workbench_autocomplete_index_url(form.object.workbench), multiple: true },
  label: false,
  wrapper_html: { class: 'mb-0 mx-0 ml-12 flex items-center w-4/6 ml-auto' }
