div[class="flex items-center"]
	= form.label I18n.t('control_contexts.form.operating_period.label.start'), class: 'flex mr-8 pt-0 control-label'
	= form.input :next_days, as: :numeric, class:"form-control", label: false, wrapper_html: { class: 'w-2/6 mb-0' }
	= form.label I18n.t('control_contexts.form.operating_period.label.end'), class: 'flex mr-8 pt-0 control-label'
