= form.label :next_days, label: t('control_contexts.form.operating_period.label.start'), class: 'flex mr-4 control-label'
div.flex.items-center.w-4/6
  = form.input :next_days, as: :numeric, class: 'form-control', label: false, wrapper: false
  = form.label t('control_contexts.form.operating_period.label.end'), class: 'ml-4'
