= form.label :saved_search_id, class: 'flex mr-4 control-label'
= form.input :saved_search_id,
  as: :grouped_select,
  required: true,
  label: false,
  collection: form.object.candidate_saved_searches,
  group_method: :last,
  input_html: { class: 'w-full'},
  wrapper_html: { class: 'mb-0 flex-auto' }
