= form.input :target_model
= form.input :particular_code_space_id, collection: @workbench.workgroup.code_spaces.map {|c| [c.short_name, c.id]}
= form.input :referent_code_space_id, collection: @workbench.workgroup.code_spaces.map {|c| [c.short_name, c.id]}
