= form.input :target_model, input_html: { 'x-model': 'macro.target_model', ':disabled': '$store.macroList.isShow' }
= form.input :source_attribute, input_html: { 'x-model': 'macro.source_attribute', ':disabled': '$store.macroList.isShow' }
= form.input :source_pattern, input_html: { 'x-model': 'macro.source_pattern', ':disabled': '$store.macroList.isShow' }
= form.input :target_code_space, input_html: { 'x-model': 'macro.target_code_space', ':disabled': '$store.macroList.isShow' }
= form.input :target_pattern, input_html: { 'x-model': 'macro.target_pattern', ':disabled': '$store.macroList.isShow' }
