= form.input :target_model, input_html: { 'x-model': 'macro.target_model' }
= form.input :source_attribute, input_html: { 'x-model': 'macro.source_attribute' }
= form.input :source_pattern, input_html: { 'x-model': 'macro.source_pattern' }
= form.input :target_code_space, input_html: { 'x-model': 'macro.target_code_space' }
= form.input :target_pattern, input_html: { 'x-model': 'macro.target_pattern' }
