div[x-data = "{target_model: '#{form.object.target_model}'}"]
  = form.input :target_model, input_html: { 'x-model': 'target_model' }
  - form.object.candidate_target_attributes.group_by(&:model_name).each do |model_name, target_attributes|
    = form.input :target_attribute, collection: target_attributes.map { |attribute| [ attribute.human_name, attribute.name ] }, wrapper_html: { 'x-show': "target_model == '#{model_name}'" }