.form-group
  = label_tag 'Export type', nil , class: 'control-label string required col-sm-4 col-xs-5'
  .col-sm-8.col-xs-7
	  = select_tag 'export[export_type]', options_for_select(option[:collection]), id: 'export_export_type', class: 'form-control select', required: true