- decorated_export = @export.decorate

div
  = form.input :exported_lines,
    include_blank: false,
    input_html: { \
      'x-model': 'exportedLines', \
      'x-bind:disabled': "isExport && !Boolean(referentialId)", \
    }

  - %w(line company line_provider).each do |n|
    - attribute = "#{n}_ids"
    - options = "#{attribute}_options"

    template[x-if="exportedLines == '#{attribute}'"]
      div
        = form.input attribute.to_sym,
          as: :tom_select,
          collection: decorated_export.send(options),
          input_html: { multiple: true, style: 'width: 100%', 'x-bind:data-url': "getExportedLinesSelectURL()", 'x-ref': 'exprtedLinesSelect' },
          label_html: { class: 'hidden' },
          include_hidden: false,
          config: { type: 'ajax', placeholder: I18n.t("exports.form.#{n}_name") },
          selected: decorated_export.send(attribute)
