div[
	x-data
	x-init="$store.export.initLineIdsSelect(#{@export.decorate.line_ids})"
]
	= simple_fields_for @export, as: :export, wrapper: :horizontal_form do |f|
		= f.input :line_ids,
			as: :tom_select,
			collection: [],
			input_html: { multiple: true, style: 'width: 100%' },
			label_html: { class: 'hidden' },
			include_hidden: false
