= simple_fields_for @export, as: :export, wrapper: :horizontal_form do |f|
	= f.input :line_ids, collection: [], input_html: { multiple: true, style: 'width: 100%' }, label_html: { class: 'hidden' }, include_hidden: false

/ = javascript_pack_tag "exports/line_ids"
