= d.attribute :ruleset, object: d.object.processing_setup
= d.attribute :include_schema, object: d.object.processing_setup, as: :boolean
= d.attribute :schema_version, object: d.object.processing_setup
