= render 'exports/options/period'
= render 'exports/options/exported_lines'
= switchable_checkbox_tag 'export', 'prefer_referent_stop_area', I18n.t('activerecord.attributes.export.gtfs.prefer_referent_stop_area')
= switchable_checkbox_tag 'export', 'ignore_single_stop_station', I18n.t('activerecord.attributes.export.gtfs.ignore_single_stop_station')